
*.DS_Store
*.pyc
*/venv/*
*.uti
*__pycache__*
*.pyc
.DS_Store
*/backup/*
scripts/python/snip_ui/backup/write_snip_ui_v01.py
scripts/python/snip_ui/backup/write_snip_ui_v02.py
scripts/python/snip_ui/backup/write_snip_ui_v03.py
scripts/python/snip_ui/backup/write_snip_ui_v04.py
scripts/python/snip_ui/backup/write_snip_ui_v05.py
scripts/python/snip_ui/backup/write_snip_ui_v06.py
scripts/python/snip_ui/backup/write_snip_ui_v07.py
scripts/python/snip_ui/backup/write_snip_ui_v08.py
scripts/python/snip_ui/backup/write_snip_ui_v09.py
scripts/python/snip_ui/backup/write_snip_ui_v10.py
scripts/python/snip_ui/backup/write_snip_ui_v11.py
scripts/python/snip_ui/backup/write_snip_ui_v12.py
scripts/python/snip_ui/backup/write_snip_ui_v13.py
scripts/python/snip_ui/backup/write_snip_ui_v14.py
*.py
EFX.code-workspace
.DS_Store
